<h1><%= @list.title %></h1><br><br>
Click on your Task to be able to mark it as complete.<br><br>
<% @list.tasks.each do |task| %>
    <%= render partial: 'content', locals: {task: task}%>
    Your Task is:<%= render partial: 'tasks/status', locals: {task: task} %><br>

<% end %><br>

<%= link_to "Create New Task", new_list_task_path(@list) %><br>
<%= render partial: 'error_message', locals: {task: @task} %>
<br>
<%= link_to "Back to #{current_user.name.capitalize}'s Page", user_path(current_user) %><br><br>
<%= link_to "#{current_user.name.capitalize}'s List's Page", user_lists_path(current_user) %>