<%=form_tag("/signin") do %>
    Your name: <%= select_tag "user[name]", options_from_collection_for_select(User.all, :name, :name)%><br>
    Your password: <br>
        <%= text_field_tag :password %>
    <%= submit_tag "Sign In" %>
 <% end %>

 <h2>Facebook User?</h2>
<%= link_to('Log in with Facebook!', '/auth/facebook') %>
