<% if @list.title.present? %>
<h1><%= @list.title.capitalize %></h1>
<% end %>

<% if @incomplete_tasks.present? %>
    <h3>Incomplete Tasks:</h3><br>
    <% @incomplete_tasks.each do |task| %>
        <% task.delete if task.content == nil %>
        <%= render partial: 'content', locals: {task: task}%>
        <%= render partial: 'tasks/status', locals: {task: task} %>
        <%= form_for task do |f| %>
           Have You Completed The Task Above?<%= f.check_box :status %>
        <%= f.submit "Update Task" %>
        <% end %>
    <% end %>
<% end %>

<% if @incomplete_tasks.empty? %>
There are No Incomplete Tasks only these Completed ones:
    <% @tasks.each do |task| %>
        <br><br>
        <%= render partial: 'content', locals: {task: task} %> 
        <br><br>
    <% end %><br>
<% end %><br>

<%= link_to "Back to Completed tasks",  user_list_path(current_user, @list) %><br><br>
<%= link_to "Back to List Show Page", user_list_path(current_user, @list) %><br><br>
<%= link_to "Back to #{current_user.name.capitalize}'s Page", user_path(current_user) %>
