<% if @user.uid.present? %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <img src="<%= @user.image %>">
<% else %>
        <h1><%= current_user.name.capitalize %></h1><br>
        <h2>Email: <%= @user.email %></h2>
<% end %>
<%= @user.bio %><br><br><br>

<div class="column" id='current_users_lists'>

<ul id="indexOfLists"></ul>


<% if @user.lists.present? %>
  <%= link_to "Your Lists" , user_lists_path(current_user) %>
<% end %>



<h4>Create New List</h4>
<%= form_for [List.new] do |f|%>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit 'Create List' %>
<% end %><br>
<button onclick="List.prototype.indexOfListsWithTasks(<%=current_user.id%>)"> See All Lists with Their Tasks</button>
<br>
<br>
<%= link_to "Log Out", logout_path %><br>

</div>

<div id="showList" class="column">

</div>
<script type="text/javascript" charset="utf-8">
$(document).on('turbolinks:load', function(){
  $('#new_list').submit(function(event) {
    event.preventDefault();

    let values = $(this).serialize();
    let posting = $.post('/lists', values)
    posting.done(function(list){
 
      List.prototype.addListToUserShowPage(list)
    });
  });
});


</script>

<hidden_field_tag id=<%=current_user.id %>>

