<% if @user.uid.present? %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <img src="<%= @user.image %>">
<% else %>
        <h1><%= current_user.name.capitalize %></h1><br>
        <h2>Email: <%= @user.email %></h2>
<% end %>
<%= @user.bio %><br><br><br>
<div id='current_users_lists'>      
<% current_user.lists.each do |list| %>
        Created On: <%= list.created_at.strftime("%A,  %b %d,  %Y") %>  <%= link_to "#{list.title}", user_list_path(current_user, list)%><br><br>
<% end %>
<text id='list_created_at'></text>
<text id='list_title'></text>
</div>
<%= link_to "All Lists in Database", lists_path %><br><br>
<% if @user.lists.present? %>
  <%= link_to "Your Lists" , user_lists_path(current_user) %>
<% end %>
<%= link_to "Log Out", logout_path %><br>

<h4>Create New List</h4>
<%= form_for [List.new] do |f|%>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit 'Create List' %>
<% end %>

<script type="text/javascript" charset="utf-8">
$(document).on('turbolinks:load', function(){
  $('#new_list').submit(function(event) {
    event.preventDefault();
    
    let values = $(this).serialize();
  
    let posting = $.post('/lists', values)
    posting.done(function(data){
      $('#list_title').text(data['title'])
      $('#list_created_at').text(data['created_at'])
    });
  });
});
</script>